<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Fake CRM system</display-name>
    <filter>
        <display-name>DataLoader</display-name>
        <filter-name>DataLoader</filter-name>
        <filter-class>org.eclipse.lyo.samples.ninacrm.DataLoader</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DataLoader</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <display-name>Simple Proxy Servlet</display-name>
        <servlet-name>ProxyServlet</servlet-name>
        <servlet-class>org.eclipse.lyo.samples.ninacrm.ProxyServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>DataServlet</display-name>
        <servlet-name>DataServlet</servlet-name>
        <servlet-class>org.eclipse.lyo.samples.ninacrm.DataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProxyServlet</servlet-name>
        <url-pattern>/proxy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataServlet</servlet-name>
        <url-pattern>/data</url-pattern>
    </servlet-mapping>
</web-app>
